.musicUpload {
  color: antiquewhite;
}

[title="Audio(s)"] {
  color: white !important;
}

[title="Album Cover"] {
  color: white !important;
}

[class="ant-form-item-extra"] {
  color: white !important;
}

[class="ant-upload-span"] {
  background-color: white !important;
}
